/* @import "../../index.css"; */


/* .popup-heading {
  margin-top: 0.2rem;
}

.buy_investment_modal {
  margin-left: 10rem;
  margin-bottom: 1rem;
  background:#3282b8;
} */

/* .purchase_save {
  position: absolute;
  bottom: 0;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 11rem;
  padding: 3px 6px 3px 5px;
  color: #fff;
  background:#3282b8;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
} */

/* .purchase_cancel button:hover {
  background: #bbe1fa;
} */

/* .purchase_cancel {
  position: absolute;
  bottom: 0;
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  margin-left: 14.7rem;
  padding: 3px 6px 3px 5px;
  color: #fff;
  background:rgb(184, 50, 162);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
} */

/* .purchase_cancel:hover {
  background: #bbe1fa;
} */