/*  */

:root {
  --COLOUR0: #1b262c;
}
:root {
  --COLOUR1: #0f4c75;
}
:root {
  --COLOUR2: #3282b8;
}
:root {
  --COLOUR3: #0276ef;
}
:root {
  --COLOUR4: #bbe1fa;
}
:root {
  --COLOUR5: #aaaaaa;
}
:root {
  --RED: #ff3333;
}
:root {
  --GREEN: #82ca9d;
}
:root {
  --YELLOW: #f5e642;
}

body {
  font-family: "Arial";
  width: 100%;
  background-color: var(--COLOUR2);
  display: flex;
  justify-content: center;
}

/* 
Menu bar at the top of the page.
*/
.header {
  height: 2.5vh;
  padding-top: 0.5rem;
  background-color: var(--COLOUR0);
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.header_bar_div {
  border-radius: 25px;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 1rem;
  color: #ffffff;
  background-color: var(--COLOUR0);
}

.header_bar_div:hover {
  background-color: var(--COLOUR1);
}

.investment_cards_container {
  height: 95%;
  overflow-y: scroll;
}
/*
The card header is at the top of each investment card showing values
for overall and daily changes. Click on this to show the chart and summary.
*/
.card_header {
  cursor: pointer;
  background-color: var(--COLOUR3);
  padding: 0rem;
  margin-top: 0.2rem;
  margin-right: 10rem;
  margin-left: 0.2rem;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.5px;
  width: 99.5%;
}

.investment_symbol {
  padding-left: 1rem;
  padding-right: 3%;
  font-size: 1rem;
  color: #ffffff;
  background-color: var(--COLOUR3);
}

.investment_name {
  font-size: 1.5rem;
  color: #ffffff;
  background-color: var(--COLOUR3);
}

/*
The table the holds all the titles and values in the card header.
*/
Table {
  width: 100%;
  table-layout: fixed;
}

/*
The the tds for all the card header titles.
*/
.header_header {
  color: #ffffff;
  background-color: var(--COLOUR3);
}

/*
Each investment card has a hidable chart and summary attached.
*/
.investment_summary {
  display: flex;
  height: 20rem;
}
.chart {
  flex: 5;
  padding-top: 0.5rem;
  background-color: var(--COLOUR1);
}
.summary {
  flex: 1;
  padding-left: 1rem;
  padding-top: 1rem;
  color: #ffffff;
  background-color: var(--COLOUR1);
}
.summary td {
  padding: 5px;
  font-size: 18px;
}
.summary_buttons {
  padding-top: 1rem;
  /* display: block; */
}
.summary_buttons button {
  margin: 5px;
  padding: 2px;
  text-decoration: none;
  display: block;
  width: 6rem;
  font-size: 18px;
  text-align: center;
  border-radius: 12px;
  background-color: var(--COLOUR3);
  color: #ffffff;
}
.summary_buttons button:hover {
  background-color: #3e8e41;
}
