/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

:root {
  --COLOUR0: #1b262c;
}
:root {
  --COLOUR1: #0f4c75;
}
:root {
  --COLOUR2: #3282b8;
}
:root {
  --COLOUR3: #0276ef;
}
:root {
  --COLOUR4: #bbe1fa;
}
:root {
  --COLOUR5: #aaaaaa;
}
:root {
  --RED: #ff3333;
}
:root {
  --GREEN: #82ca9d;
}
:root {
  --YELLOW: #f5e642;
}

body {
  font-family: "Arial";
  width: 100%;
  background-color: var(--COLOUR2);
  display: flex;
  justify-content: center;
}

.header {
  height: 2.5vh;
  padding-top: 0.5rem;
  background-color: var(--COLOUR0);
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.header_bar_div {
  border-radius: 25px;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 1rem;
  color: #ffffff;
  background-color: var(--COLOUR0);
}

.header_bar_div:hover {
  background-color: var(--COLOUR1);
}
/*




*/
.card_header {
  cursor: pointer;
  background-color: var(--COLOUR3);
  padding: 0rem;
  margin-top: 0.2rem;
  margin-right: 10rem;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.5px;
  width: 99.9%;
}

.investment_symbol {
  padding-left: 1rem;
  padding-right: 3%;
  font-size: 1rem;
  color: #ffffff;
  background-color: var(--COLOUR3);
}

.investment_name {
  font-size: 1.5rem;
  color: #ffffff;
  background-color: var(--COLOUR3);
}

/*




*/
Table {
  width: 100%;
  table-layout: fixed;
}
/*




*/
.header_header {
  color: #ffffff;
  background-color: var(--COLOUR3);
}
/*




*/
.daily_gain {
  color: #ffffff;
  background-color: var(--COLOUR3);
}

.profit_loss {
  color: #ffffff;
  background-color: var(--COLOUR3);
}

.last_price_plus_minus {
  color: #ffffff;
  background-color: var(--COLOUR3);
}

.last_price_percent {
  color: #ffffff;
  background-color: var(--COLOUR3);
}

/*

*/
.chart {
  width: 99%;
  height: 20rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
/*

*/

/* .header:hover {
  cursor: pointer;
}
.header.span {
  background: "#FF0000";
} */
/* html,
body {
  display: flex;
  height: 100%;
  width: 100%;
}

#icon {
  width: 100px;
}


#left {
  display: block;
  background: var(--COLOUR0);
  min-width: 100px;
  max-width: 100px;
  height: 100%;
  padding-left: 2px;
}

#left img {
  padding: 10px 5px 20px;
}

#left .w3-btn {
  margin: 2px;
  width: 90px;
  background-color: var(--COLOUR2);
  color: white;
}

#left .w3-btn:hover {
  background-color: var(--COLOUR1);
}


#right {
  width: 100%;
  background-color: var(--COLOUR0);
}


#top {
  background-color: var(--COLOUR0);
  height: 74%;
  border: solid 1px white;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}


#top-inner-left {
  float: left;
  width: 86%;
}

#top-inner-right {
  float: right;
}

.panel-title {
  width: 100%;
}

a.btn.btn-primary.panel-title {
  background-color: var(--COLOUR2);
  border-color: var(--COLOUR0);
}

#panel-container {
  background-color: var(--COLOUR0);
  color: white;
}

.graph {
  width: 100%;
  height: inherit;
}

#summary-table,
table th,
table td {
  width: 100%;
  margin-right: 5px;
  font-size: 80%;
  text-align: right;
  border: 1px solid var(--COLOUR3);
  padding: 5px;
}


#bottom {
  height: 24%;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

#bottom-inner-left {
  float: left;
  width: 86%;
  height: 100%;
  padding-left: 10px;
}

#bottom-inner-right {
  margin: 10px;
  float: right;
  width: 12%;
  height: 100%;
  color: white;
}

#summary-table {
  color: white;
  width: 100%;
  margin-right: 50px;
  font-size: 80%;
  text-align: right;
}


.new_purchase {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: var(--COLOUR0);
  color: white;
  width: 100%;
}

.w3-container {
  width: 800px;
}

.w3-input {
  background-color: var(--COLOUR1);
  color: var(--COLOUR4);
  margin-bottom: 10px;
}

.w3-input[type="text"]:focus {
  background-color: var(--COLOUR2);
}

select.w3-select {
  background-color: var(--COLOUR1);
  color: var(--COLOUR4);
  margin-bottom: 10px;
}

button.submit-btn {
  margin: 2px;
  width: 90px;
  background-color: var(--COLOUR2);
  color: white;
}

.submit-btn:hover {
  background-color: var(--COLOUR1);
}


.investmentDetails {
  display: flex;
  flex-direction: column;
} */
